header{
    background-color: aliceblue;
    width: 400px; 
    height:90px;
}

.section1{
    background-color: black;
    width: 200px; 
    height:40px;
}

background-color{ black;"width: 200px; height:40px;